#テーマ・舞台設定

テーマ:
現代日本の中において、局地的に存在する異世界を舞台とする。
便利さの追求のために超自然の力を制御し、独自の秩序で動く地方都市。しかしその力を制御しきれなくなり反乱にあう。事態の収拾のために、同じ超自然の力を持つ女子高生が戦う。要は魔法少女もの。
超自然の力の拠り所として、封神演義の世界観、および道教や陰陽五行思想を随所に盛り込む。

構成:
テレビアニメに合わせ12話(12章)構成とする。
おおよそ1話8,000字、合計10万字弱くらいで。

時期:
1995年12月から翌年の12月まで。
おおよそ1話ごとに1か月経過する。

舞台:
福井県敦賀市。
道教・陰陽五行思想に基づくエネルギー循環システム「崑崙」を受け入れた街。

あらすじ

序
1996年5月。
第6話の戦闘シーンのうち、那子の描写を意図的に隠したもの。
敦賀高校生であること、白く染まった松原、魂魄（自我を持ったエネルギー体）、飴田瑶の乱入シーンを書いておく。
アニメ第1話のOP前くらいのボリュームで。

第1話 <1995年12月8日(金)、12月9日(土)>
「崑崙」で事故発生。
事故翌日、藤沢那子が目覚めると、敦賀市山泉地区が謎の雪のような白い物質に覆われていた。
周囲を探索する那子と杏を雪山状の生命体が襲う。杏が電撃を放出し撃退。

第2話 <1996年1月上旬>
謎の雪に関する噂は敦賀高校の一部で話題になっていた。
親友の瑞希からの問い合わせを受け、瑶は尚子に噂の真相を問い詰めるが、肝心なことは教えてもらえない。
そのため瑶と瑞希は、山泉地区に住む那子と杏を呼び出し、詳細を聞く。
瑞希の手の中で小鳥が生き返るという不思議な現象が発生。

第3話 <1996年2月下旬>
尚子、本格的に調査を進めるにあたり、適正の非常に高い桃乃をアルバイトに雇う。
桃乃は沓見地区に出現した魂魄を簡単に撃退する。
事態の深刻さを把握した尚子は魂魄の無力化、封神を決意。

第4話 <1996年3月上旬>
尚子は那子と杏にアポイントをとる。たまたま槍を手にしたことにより、那子の能力が発覚する。
そのまま強制的に封神に向かう那子。苦戦する那子を、後から駆け付けた杏が救う。

第5話 <1996年5月>
一方、桃乃は各地で魂魄の封神を続けるが、次々発生する魂魄に対応しきれない。ついに駅で出現し、街はパニックに陥る。
新学期。しかし、市内全域に敷かれた通達により、敦賀高校を含む全ての学校が休校となる。
那子は尚子とともに封神を続ける道を選ぶ。しかし、体に徐々に異変をきたす。

第6話 <1996年5月>
瑶、那子を救うため自らも宝貝を手にする。
発熱のため限界の迫る那子を、瑶が救う。

第7話 <1996年6月>

第8話 <1996年7月>

第9話 <1996年8月>

第10話 <1996年9月>

第11話 <1996年10月>

第12話 <1996年12月>


設定

二十世紀末、福井県敦賀市。《崑崙》の暴走により白く染められたこの街に、かつての色彩と日常を取り戻すべく戦う敦賀高校三年・藤沢那子。常識から隔離された魔都で生きる少女達の戦記。

登場人物
主な登場人物は女子高生5人、女性技術者1人。女子高生は全員「崑崙」の運転開始と同じ年に生まれ、超自然の力の影響を色濃く受けている。女性技術者は「崑崙」の事業を推進する立場から女子高生をサポートする。

■藤沢那子《ふじさわなこ》
敦賀高校の生徒。主人公。「崑崙」の仕組みに疑問を抱きつつも、日常を取り戻すため封神に参加する。
モチーフ: 李哪吒 / 武器: 火尖鎗 (槍)
能力: 火。放出されるエネルギーそのものの具現化

■飴田瑶《あめだよう》
敦賀高校の生徒。三上尚子の従姉妹。
ストレートな物言いで人当たりが厳しい。冷たい印象を与えるが、仲間を思う気持ちは強い。
モチーフ: 楊戩 / 武器: 三尖両刃刀 (先が3つに分かれた大刀(槍))
能力: 水。冷却材・冷却機能・熱伝導の具現化

■張籠杏《はりかごあん》
敦賀高校の生徒。天真爛漫な人当たりの良い性格。魔法少女に強い憧れを持ち、喜んで封神に参加する。
モチーフ: 雷震子 / 武器: 金棍 (長さ五尺の金色の棍棒)
能力: 木。「崑崙」によって生み出される電力、発電機能の具現化

■天谷瑞希《あまやみずき》
敦賀高校の元生徒会長。中性的。常に中立で公平な考えに努める。
モチーフ: 黄飛虎 / 武器: 鑽針釘 (釘)
能力: 土。燃料サイクル・再生機能の具現化

■早見桃乃《はやみももの》
敦賀気比高校の生徒。常に冷静沈着に任務を遂行する。
モチーフ: 白鶴童子 / 武器: 三宝玉如意 (杖)
能力: 金。制御棒・エネルギーの伝達機能の具現化

■三上尚子《みかみなおこ》
敦賀市エネルギー制御システム「崑崙《こんろん》」の主任技術者。
「崑崙」の事業を推進する立場から女子高生をサポートする。
モチーフ: 姜子牙(太公望)




崑崙《こんろん》

攻撃型宝貝《ぶき》

双方向無線機形宝貝《トランシーバー》

測定器《サーベイメータ》

魂魄《こんぱく》
検出箇所《ホットスポット》
最大検出箇所《ホットスポット》

37文字x12行=1ページ444文字
444文字x4ページ=1章1200-1600文字

――
……

敦高《とんこう》

《《雪山》》


藤沢那子、敦賀高校生。目標、この街から失われた色を取り戻すこと。
敦賀の街は、他の街とは異なる秩序の元に動いている。
今からコンマ何秒かの後に、私は彼女の名前を思い出す。
ただ一つ、私たちの行動理念の拠り所。この敦賀の街を救うのは、私たちだ。



敦賀の年表

1937年4月1日 市制施行。敦賀郡敦賀町・松原村が合併して敦賀市が発足

1992年9月 第二土曜日が休日に
1995年度 第四土曜日が休日に
2002年度 完全学校週5日制が実施

1970(昭和45)年12月1日 ふげん着工。
1978(昭和53)年3月20日 ふげん最小臨界に達成。7月29日初送電。 11月13日には定格出力を達成

1978/4/2-1979-4/1 那子誕生
1995/4/1 那子、高校2年生

1995(平成7)年12月8日(金) 19:47 事故発生
12/9 6:53 日の出

1996/4/1 那子、高校3年生
1996/5 序

平成 2.3.20セミナーハウス完成
3.1.30弓道場改築完成
3.4.12第１体育館改修完成
4.3.16武道場改築完成
7.4.4　プール改築完成
9.3.25体育館渡廊下新設工事完成

1993年4月 旗護山トンネル供用開始
2004年3月26日 木ノ芽峠トンネル供用開始